$font-family-base: 'PT Root UI', sans-serif;

/* colors styles */
$color-main-font: rgba(11, 23, 57, 1);
$color-main-font-medium: rgba(11, 23, 57, 0.5);
$color-main-dark: rgba(62, 181, 124, 1);
$color-main-black: rgba(0, 0, 0, 1);
$color-addition-stroke: rgba(11, 23, 57, 0.2);
$color-multi-brand: rgba(149, 208, 161, 1);
$color-main-gradient: linear-gradient(
  135deg,
  rgba(174, 228, 178, 0.3) 0%,
  rgba(149, 208, 161, 0.3) 100%
);

/* fonts */

$text-h1: 700 54px/55px $font-family-base;
$text-base: 400 16px/24px $font-family-base;
$text-p: 400 16px/20px $font-family-base;
$text-p2-regular: 400 14px/20px $font-family-base;
$text-p2-medium: 500 16px/24px $font-family-base;
$text-p3-regular: 400 14px/20px $font-family-base;

/* transition */
$transition-base: 0.3s ease-in-out all;

/* media breakpoints */
$media-tablet: 'max-width: 1439px';

/* wrapper */
$wrapper: 1440px;
